.search__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  position: relative;
  padding-left: 24px;
  width: 608px;
  height: 62px;

  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  border-radius: 100px;

  grid-area: searchbox;
}
@media screen and (max-width: 1023px) {
  .search__input {
    height: 56px;
    max-width: 488px;
  }
}
@media screen and (max-width: 767px) {
  .search__input {
    height: 56px;
    width: 100%;
  }
}