.search__input {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;

  position: relative;
  padding-left: 24px;
  min-width: 608px;
  height: 62px;

  background: #FFFFFF;
  border: 1px solid #D1D2D6;
  box-sizing: border-box;
  backdrop-filter: blur(8px);
  border-radius: 100px;
}