<!DOCTYPE html>
<html>

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description" content="Find news that interesting to you">
  <meta name="keywords" content="Yandex, Praktikum, News, Explorer">
  <meta name="author" content="Alina Abdurshina">
  <link rel="icon" href="<%= require('../../images/favicon.png')%>" type="image/png">
  <link rel="stylesheet" href="<%=htmlWebpackPlugin.files.chunks.about.css%>" />

  <title>News Explorer / О проекте</title>
</head>

<body>
  <main class="root">
    <div class="hidables">

      <section class="popup popup__login popup_inactive">
        <div class="popup__inner">
          <button class="popup__button_close"></button>
          <div class="popup__container">
            <div class="popup__content">
              <h3 class="popup__title">Вход</h3>
              <form class="popup__form" name="login" method="POST">
                <fieldset class="popup__fieldset">
                  <label class="popup__label" for="login_email">Email</label>
                  <input class="popup__input" name="email" type="email" id="login_email" placeholder="Введите почту"
                    required>
                  <label class="popup__label" for="login_password">Пароль</label>
                  <input class="popup__input" name="password" type="password" id="login_password"
                    placeholder="Введите пароль" required>
                  <button class="button popup__button_submit" type="submit" disabled>Войти</button>
                </fieldset>
                <span class="popup__text">Или <a class="link popup__link" href="#">Зарегестриуйтесь</a></span>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="popup popup__signup popup_inactive">
        <div class="popup__inner">
          <button class="popup__button_close"></button>
          <div class="popup__container">
            <div class="popup__content">
              <h3 class="popup__title">Регитсрация</h3>
              <form class="popup__form" name="signup" method="POST">
                <fieldset class="popup__fieldset">
                  <label class="popup__label" for="signup_email">Email</label>
                  <input class="popup__input" name="email" type="email" id="signup_email" placeholder="Введите почту"
                    required>
                  <span class="popup__error">Неверный формат ввода</span>
                  <label class="popup__label" for="signup_password">Пароль</label>
                  <input class="popup__input" name="password" type="password" id="signup_password"
                    placeholder="Введите пароль" required minlength="8">
                  <label class="popup__label" for="signup_username">Имя</label>
                  <input class="popup__input" name="username" id="signup_username" placeholder="Введите свое имя"
                    required minlength="2">
                  <span class="popup__error">Такой пользователь уже есть</span>
                  <button class="button popup__button_submit" type="submit" disabled>Зарегестрироваться</button>
                </fieldset>
                <span class="popup__text">Или <a class="link popup__link" href="#">Войти</a></span>
              </form>
            </div>
          </div>
        </div>
      </section>

      <section class="popup popup__message popup_inactive">
        <div class="popup__inner">
          <button class="popup__button_close"></button>
          <div class="popup__container">
            <div class="popup__content">
              <h3 class="popup__title">Пользователь успешно зарегестирован!</h3>
              <span class="popup__text_special">
                <a class="link popup__link_special" href="#">
                  Выполнить вход
                </a>
              </span>
            </div>
          </div>
        </div>
      </section>

    </div>

    <header class="header header_light">
      <!-- When switching between open and closed menu on mobile dont forget to update Heading and Button icon styles accordingly -->
      <div class="header__container">
        <a href="../" class="link title header__heading header__heading_light">
          NewsExplorer
        </a>
        <button class="header__menu">
          <span class="icon icon__hamburger icon__hamburger_light"></span>
        </button>

        <nav class="header__navigation header__navigation_inactive">
          <ul class="header__nav-links">
            <li class="header__item "><a href="../" class="link">Главная</a></li>
            <li class="header__item header__item_active-light"><a href="./" class="link link_light">О проекте</a>
            </li>
          </ul>
          <button class="button header__button header__button_light">
            Авторизоваться
          </button>
        </nav>

      </div>
    </header>

    <section class="for-clients">
      <section class="for-clients__content">
        <h2 class="title for-clients__title">Клиентам</h2>
        <p class="for-clients__text">
          Этот сайт — дипломный проект студента Яндекс.Практикума. Его цель — показать, чему научился студент, какими
          технологиями владеет.
        </p>
        <p class="for-clients__text">
          Вёрстка сайта выполнена по методологии БЭМ. Это делает сайт гибким и масштабируемым. Кроме того, добавлять
          новые страницы и функциональность проще и быстрее, чем в проектах, выполненных по другим методологиям. Также
          сайт проще и дешевле поддерживать.
        </p>
        <p class="for-clients__text">
          Студент самостоятельно написал серверный код. В нём реализована функциональность регистрации и входа в
          систему. Сайт позволяет искать новости за прошедшую неделю и сохранять понравившиеся в личном кабинете. На
          сервере избранные новости хранятся в базе данных Mongo DB. Студент запрограммировал надёжный сервер:
          отказоустойчивый и безопасный.
        </p>
        <p class="for-clients__text">
          При создании проекта была использована сборка технологией Webpack. Это современный подход к разработке сайтов.
          Код оптимизируется, а значит, сайт работает быстрее. Также сайт работает в старых браузерах. Даже если
          посетители — пользователи старых операционных систем, у них не будет проблем с отображением. А значит,
          потенциальная аудитория возрастает.
        </p>
        <p class="for-clients__text">
          Проект был проверен экспертами Яндекс.Практикума. Если вашему бизнесу нужен сайт, мы рекомендуем обратиться к
          этому студенту.
        </p>
      </section>
    </section>

    <section class="technologies">
      <div class="technologies__container">
        <h2 class="title technologies__title">
          Используемые технологии
        </h2>

        <div class="technologies__content">

          <div class="technologies__card">
            <h3 class="title technologies__tech-name">HTML</h3>
            <img class="technologies__image" src="../<%= require('../../images/html5.svg')%>" alt="html logo" />
          </div>

          <div class="technologies__card">
            <h3 class="title technologies__tech-name">CSS</h3>
            <img class="technologies__image" src="../<%= require('../../images/css3.svg')%>" alt="css logo" />
          </div>

          <div class="technologies__card">
            <h3 class="title technologies__tech-name">JavaScript</h3>
            <img class="technologies__image" src="../<%= require('../../images/js.svg')%>" alt="JavaScript logo" />
          </div>

          <div class="technologies__card">
            <h3 class="title technologies__tech-name">Webpack</h3>
            <img class="technologies__image" src="../<%= require('../../images/webpack.svg')%>" alt="Webpack logo" />
          </div>

        </div>
      </div>
    </section>

    <section class="about-author">
      <img src="../<%= require('../../images/author-image.jpg')%>" alt="Portrait of the Author"
        class="about-author__image" />
      <div class="about-author__side">
        <h2 class="title about-author__title">Об авторе</h2>
        <p class="about-author__text">
          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore
          magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
          consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla
          pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
          est laborum.
        </p>
      </div>
    </section>

    <section class="slider">
      <div class="slider__container">
        <h2 class="title slider__title">
          История коммитов из GitHub
        </h2>

        <button class="slider__control slider__control_l">
          <i class="icon icon__arrow icon__arrow_r"></i>
        </button>

        <div class="slider__commit-ribbon">

          <div class="card slider__commit-card">
            <div class="slider__commit-date">12.11.2019</div>
            <div class="slider__commit-header">
              <img class="slider__commit-avatar" src="../<%= require('../../images/author-image.jpg')%>"
                alt="swiper card avatar" />
              <div class="slider__commit-name">Alfredo Augustus</div>
              <div class="slider__commit-email">alfredo_chiccen@mail.pecah</div>
            </div>
            <div class="slider__commit-text">The purpose of life is to be defeated by greater and greater things.
            </div>
          </div>
          <div class="card slider__commit-card">
            <div class="slider__commit-date">12.11.2019</div>
            <div class="slider__commit-header">
              <img class="slider__commit-avatar" src="../<%= require('../../images/author-image.jpg')%>"
                alt="swiper card avatar" />
              <div class="slider__commit-name">Alfredo Augustus</div>
              <div class="slider__commit-email">alfredo_chiccen@mail.pecah</div>
            </div>
            <div class="slider__commit-text">The purpose of life is to be defeated by greater and greater things.
            </div>
          </div>
          <div class="card slider__commit-card">
            <div class="slider__commit-date">12.11.2019</div>
            <div class="slider__commit-header">
              <img class="slider__commit-avatar" src="../<%= require('../../images/author-image.jpg')%>"
                alt="swiper card avatar" />
              <div class="slider__commit-name">Alfredo Augustus</div>
              <div class="slider__commit-email">alfredo_chiccen@mail.pecah</div>
            </div>
            <div class="slider__commit-text">The purpose of life is to be defeated by greater and greater things.
            </div>
          </div>
          <div class="card slider__commit-card">
            <div class="slider__commit-date">12.11.2019</div>
            <div class="slider__commit-header">
              <img class="slider__commit-avatar" src="../<%= require('../../images/author-image.jpg')%>"
                alt="swiper card avatar" />
              <div class="slider__commit-name">Alfredo Augustus</div>
              <div class="slider__commit-email">alfredo_chiccen@mail.pecah</div>
            </div>
            <div class="slider__commit-text">The purpose of life is to be defeated by greater and greater things.
            </div>
          </div>
          <div class="card slider__commit-card">
            <div class="slider__commit-date">12.11.2019</div>
            <div class="slider__commit-header">
              <img class="slider__commit-avatar" src="../<%= require('../../images/author-image.jpg')%>"
                alt="swiper card avatar" />
              <div class="slider__commit-name">Alfredo Augustus</div>
              <div class="slider__commit-email">alfredo_chiccen@mail.pecah</div>
            </div>
            <div class="slider__commit-text">The purpose of life is to be defeated by greater and greater things.
            </div>
          </div>

        </div>

        <div class="slider__pagination"></div>

        <button class="slider__control slider__control_r">
          <i class="icon icon__arrow icon__arrow_r"></i>
        </button>

        <a class="button slider__link" href="https://github.com/blanshec/yp_news-explorer-frontend" target="_blank">
          Открыть в Github
          <i class="icon icon__arrow icon__arrow_r"></i>
        </a>
      </div>
    </section>

    <footer class="footer">
      <p class="footer__copyright">&copy; Allina Abdurshina 2019</p>
      <ul class="footer__links">
        <li class="footer__item"><a class="link footer__link" href="../">Главная</a></li>
        <li class="footer__item"><a class="link footer__link" href="./">О проекте</a></li>
        <li class="footer__item">
          <a class="link footer__link" href="https://praktikum.yandex.ru/" target="_blank">
            Яндекс.Практикум
          </a>
        </li>
      </ul>
      <ul class="footer__social">
        <li class="footer__item">
          <a class="link footer__icon" href="https://www.facebook.com/alina.abdurshina" target="_blank">
            <img src="../<%= require('../../images/facebook-icon.svg')%>" alt="icon: facebook">
          </a>
        </li>
        <li class="footer__item"><a class="link footer__icon" href="https://www.github.com/blanshec" target="_blank">
            <img src="../<%= require('../../images/git-icon.svg')%>" alt="icon: github">
          </a>
        </li>
      </ul>
    </footer>
  </main>
  <script src="<%=htmlWebpackPlugin.files.chunks.about.entry%>"></script>
</body>

</html>