.slider__commit-ribbon {
  grid-area: slider;
  margin: 64px auto 48px;

  display: flex;
  flex-direction: row;

  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;

  overflow-x: auto;
}