@import "./__commit-avatar/slider__commit-avatar.css";
@import "./__commit-card/slider__commit-card.css";
@import "./__commit-date/slider__commit-date.css";
@import "./__commit-email/slider__commit-email.css";
@import "./__commit-header/slider__commit-header.css";
@import "./__commit-name/slider__commit-name.css";
@import "./__commit-ribbon/slider__commit-ribbon.css";
@import "./__commit-text/slider__commit-text.css";
@import "./__container/slider__container.css";
@import "./__control/slider__control.css";
@import "./__link/slider__link.css";
@import "./__pagination/slider__pagination.css";
@import "./__title/slider__title.css";

.slider {
  margin: 80px 0 0 0;
  background: #F5F6F7;
  height: 606px;

  position: relative;
}