.icon.icon_saved {
  height: 19px;
  width: 14px;

  background-color: #2F71E5;

  mask: url('../../../images/saved-flag.svg');
  mask-position: center;
  mask-size: cover;
  mask-repeat: no-repeat;
}