.header__container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  height: 100%;

  box-sizing: border-box;
}

@media screen and (max-width: 1441px) {
  .header__container {
    margin: 0 104px;
    max-width: 100%;
  }
}

@media screen and (max-width: 769px) {
  .header__container {
    margin: 0 40px;
    max-width: 100%;
  }
}

@media screen and (max-width: 321px) {
  .header__container {
    margin: 0 12px 0 16px;
    max-width: 100%;
  }
}