.results__cards-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  margin: 64px 0 0;
}

@media screen and (max-width: 1023px) {
  .results__cards-container {
    margin: 32px 0 0;
  }
}

@media screen and (max-width: 767px) {
  .results__cards-container {
    margin: 24px 0 0;
  }
}