@import "./_active-dark/header__item_active-dark.css";
@import "./_active-light/header__item_active-light.css";

.header__item {
  height: 50px;
}

@media screen and (max-width: 1441px) {
  .header__item {
    margin: 30px 32px 0 0;
  }
}

@media screen and (max-width: 769px) {
  .header__item {
    margin: 16px 0 0;
  }
}

@media screen and (max-width: 321px) {
  .header__item {
    display: none;
  }
}