@import "./__save/icon__save.css";
@import "./__saved/icon__saved.css";
@import "./__logout/icon__logout.css";
@import './__not-found/icon__not-found.css';

.icon {
  display: block;
  margin:  0 auto;

  background-color: #B6BCBF;
}