@import "./__button/search__button.css";
@import "./__container/search__container.css";
@import "./__form/search__form.css";
@import "./__input/search__input.css";
@import "./__subtitle/search__subtitle.css";
@import "./__title/search__title.css";
@import "./__background/search__background.css";

.search {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

  position: relative;
  z-index: auto;

  top: -80px;
  overflow: hidden;
  height: 576px;
}

@media screen and (max-width: 1023px) {
  .search {
    top: -66px;
    height: 400px;
  }
}

@media screen and (max-width: 767px) {
  .search {
    top: -56px;
    height: 536px;
  }
}