.header__heading_dark {
  color: #FFFFFF;
}

@media screen and (max-width: 767px) {
  .header__heading::after {
    content: '';
    width: 100%;
    height: 56px;
    box-shadow: inset 0px -1px 0px rgba(255, 255, 255, 0.2);
    z-index: 123;
    position: absolute;
    top: 0;
    left: 0;
  }
}