.results__button {
  background-color: #fff;
  color: #1A1B22;
  margin: 64px auto 0;
  display: block;
}

.button.results__button:hover {
  color: #fff;
}

@media screen and (max-width: 1023px) {
  .results__button {
    margin: 32px auto 0;
  }
}

@media screen and (max-width: 767px) {
  .results__button {
    margin: 5px auto 0;
  }
}