.about-author__side {
  display: flex;
  flex-direction: column;

  margin: 0 0 0 56px;
}

@media screen and (max-width: 1023px) {
  .about-author__side{
    margin: 0 0 0 32px;
  }
}

@media screen and (max-width: 767px) {
  .about-author__side{
    margin: 24px 0 0 0;
  }
}