.technologies__card {
  display: block;
  width: 120px;
  margin: 0 0 0 40px;
}

@media screen and (max-width: 1023px) {
  .technologies__card:first-of-type {
    margin: 0;
  }
  .technologies__card {
    margin: 0 0 0 64px;
  }
}
@media screen and (max-width: 767px) {
  .technologies__card {
    margin: 32px 0 0 0;
  }
  .technologies__card:nth-child(2) {
    margin: 0 0 0 32px;
  }
}