.technologies__container {
  width: 85%;
  margin: 80px auto 88px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media screen and (max-width: 1023px) {
  .technologies__container{
    width: 90%;
    margin: 40px auto;
    flex-direction: column;
  }
}


@media screen and (max-width: 767px) {
  .technologies__container {
    margin: 32px auto 38px;
    flex-direction: column;
  }
}