@import "./_bold/svd-lead__keywords_bold.css";

.svd-lead__keywords {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  line-height: 24px;
  /* identical to box height, or 133% */


  color: #1A1B22;

  margin: 30px 0 0;
}

@media screen and (max-width: 1023px) {
  .svd-lead__keywords{
    font-size: 14px;
    margin: 16px 0 0 0;
  }
}

@media screen and (max-width: 767px) {
  .svd-lead__keywords {
    font-size: 18px;
  }
}
