@import "./_r/slider__control_r.css";
@import "./_l/slider__control_l.css";

.slider__control {
  width: 40px;
  height: 40px;
  padding: 0;

  border-radius: 100px;

  background-color: #1A1B22;
  box-shadow: 0px 3px 10px rgba(14, 26, 57, 0.2);
  border: none;

  position: absolute;
  z-index: 5;
  display: flex;
  justify-items: center;

}

.slider__control > .icon {
  background-color: white;
}